body {
    background-color: rgb(20, 20, 20);
    margin: 0;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    background-color: black;
    width: 100%;
    height: 10vh;
}

.tieude {
    width: 70%;
    margin: auto;
}
nav{
    display:flex;
    justify-content:space-between;
}
ul {
    display: flex;
    list-style: none;
    /* gap: 20px; */
    padding: 0;
    margin: 0;
    align-items: center;
}
ul img {
    width: 120px;
}
li {
    margin-right: 20px;
}
a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
}
.muagoi {
    background-color: #Ff6500;
    border-radius: 10px;
    padding: 5px;
}

main {
    width: 70%;
    background-color: black;
    margin: 0 auto;
    margin-bottom: 20px;
}
img {
    width:100%;
    margin-bottom: 10px;
    border-radius: 10px;
}
.cayphim {
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.phim {
    display:flex;
    justify-content:flex-start;
    width:850px;
    overflow: hidden;
    overflow-x: scroll;
    padding-top: 5px;
}
.phim1 {
    padding-right: 10px;
}
.phim1 img {
    width: 200px;   /* chỉnh kích thước poster (to hơn thì tăng số này) */
    height: auto;   /* giữ đúng tỉ lệ */
    border-radius: 10px;
}
.phim1 p{
    margin-top: 0px;
}
.linhvuc {
    display:flex;
    justify-content:flex-start;
    width:850px;
    overflow: hidden;
    overflow-x: scroll;
    gap: 5px;
}
.linhvuc1 {
    text-align: center;
    min-width: 140px; /*độ rộng tối thiểu*/
    height: 80px;
    background: pink;
    border-radius: 10px;
    padding:20px;
}
.linhvuc1 i {
    font-size: 30px;
}
footer {
    justify-content:center;
    width: 100%;
    border-top: 1px solid grey;
    padding: 10px
}
.thongtin {
    display:flex;
    justify-content:space-between;
    text-align:left;
    gap:30px;
    border-bottom: 1px solid grey;
}
.thongtin img {
    width: 100px;   /* chỉnh kích thước poster (to hơn thì tăng số này) */
    height: auto;   /* giữ đúng tỉ lệ */
}
.thongtin1 {
    display:flex;
    justify-content:space-between;
    gap: 50px;
}
.congty {
    flex:3;
}
.app {
    display: flex;
    flex-direction: column;     /* sắp xếp theo cột */
    justify-content: space-between;
}
.apphotro {
    flex:1;
    padding-top: 20px;
}
.tailen {
    align-self: flex-end;   
    color:#Ff6500;
    font-size: 50px;
}

.banner {
    margin-top: 15px;
    width: 100%;
    height: 500px;
    background-image: url("../Bai7/img/mua-do2-1122.jpeg");    /* lấy ảnh làm nền của khung */
    background-size: cover;                                   /* cho ảnh phủ hết khung */
    position: relative;
    border-radius: 5px 5px 0 0;
}
.tt {
    display:flex;
    align-items: center;
    gap: 5px;
}
.xemngay {
    background-color: #Ff6500;
    color:white;
    width:100px;
    height:40px;
    border-radius: 15px;
}